
a{
        color: black;
        text-decoration: none;
}

.p1 {
    line-height: 180%;
}

.absolute1 {
    position: absolute;
    left: 822px;
    top: 1696px;
}

.absolute2 {
    position: absolute;
    left: 847px;
    top: 43px;
}

.absolute3 {
    position: absolute;
    left: 1023px;
    top: 43px;
}

.absolute4 {
    position: absolute;
    left: 1199px;
    top: 43px;
}

.absolute5 {
    position: absolute;
    left: 1375px;
    top: 43px;
}

.absolute6 {
    position: absolute;
    left: 456px;
}

.absolute7 {
    position: absolute;
    left: 822px;
    top: 1771px;
}

.absolute8 {
    position: absolute;
    left: 1287px;
    top: 1980px;
}

.absolute9 {
    position: absolute;
    left: 735px;
    top: 2286px;
}

.absolute10 {
    position: absolute;
    left: 515px;
    top: 2362px;
}

.absolute11 {
    position: absolute;
    left: 432px;
    top: 2500px;
}

.absolute11 {
    position: absolute;
    left: 432px;
    top: 2482px;
}

.absolute12 {
    position: absolute;
    left: 316px;
    top: 2722px;
}

.absolute13 {
    position: absolute;
    left: 300px;
    top: 2717px;
}

.absolute14 {
    position: absolute;
    left: 411px;
    top: 868px;
}

.absolute15 {
    position: absolute;
    left: 828px;
    top: 855px;
}

.absolute16 {
    position: absolute;
    left: 828px;
    top: 960px;
}

.absolute17 {
    position: absolute;
    top: 1805px;
}

.absolute18 {
    position: absolute;
    left: 316px;
    top: 2455px;
}

.absolute19 {
    position: absolute;
    left: 300px;
    top: 2450px;
}

.absolute20 {
    position: absolute;
    left: 510px;
    top: 2060px;
}

.absolute21 {
    position: absolute;
    left: 486px;
    top: 2150px;
}

.absolute22 {
    position: absolute;
    left: 486px;
    top: 2250px;
}

.absolute23 {
    position: absolute;
    top: 2400px;
}

.absolute24 {
    position: absolute;
    top: 1300px;
    left: 700px;
}

.absolute25 {
    position: absolute;
    top: 1450px;
    left: 700px;
    
}

.absolute26 {
    position: absolute;
    top: 770px;
    left: 680px;
    
}

.absolute27 {
    position: absolute;
    top: 80px;
    left: 320px;
    
}

.absolute28 {
    position: absolute;
    top: 80px;
    left: 940px;
    
}

.absolute29 {
    position: absolute;
    top: 80px;
    left: 1560px;
    
}

.absolute30 {
    position: absolute;
    top: 420px;
    left: 320px;
    
}

.absolute31 {
    position: absolute;
    top: 2000px;
}

.absolute32 {
    position: absolute;
    left: 316px;
    top: 2055px;
}

.absolute33 {
    position: absolute;
    left: 300px;
    top: 2050px;
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    top: 200px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    position: relative;

}

.item {
    width: 550px;
    height: 320px;
    left: 20px;
    background-color: rgb(233, 233, 233);

}

